#about {
  margin-top: 2rem 0;
}

.about-summary {
  margin-top: 0.5rem;
  text-align: justify;

  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
}

.icon {
  margin-left: 6px;
  vertical-align: middle;
}
