* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1b2a;
  background-image: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(76, 0, 255, 0.08),
    transparent 400px
  );
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 0.1s;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-layout {
  margin-left: 20px;
  display: flex;
  height: 100vh;
  overflow: hidden; 
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.content {
  width: 60%;
  padding: 2rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  color: #ffffff;
  height: 100vh;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.content section {
  margin-bottom: 4rem;
}

.content h2 {
  font-size: 2rem;
}

.paragraph {
  margin-top: 1rem;
  color: #ffffffec;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.social-icons a {
  color: white;
  transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #4fc3f7;
}